/* Color */

/* 
light-blue #b3cfe7
footer :black
btn:#0060ff
 */

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generic */
body {
    font-family: 'Open Sans', sans-serif;


}

a {
    text-decoration: none;
}

.container-large {
    width: 1200px;
    margin: 0 auto;
    border: 1px dashed black;
    background-color: aquamarine;
}

.container-small {
    max-width: 1080px;
    margin: 0 auto
}

/* Utilities */

.margin-jumbo-content {
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.margin-r {
    margin-right: 5%;
}


/* Header */


#navbar {
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    vertical-align: center;
    line-height: 70px;
    background-color: white;
}

#navbar ul li {
    display: inline;

    font-size: 20px;
}

.nav-right li {
    margin-left: 20px;
}

.nav-left li {
    margin-right: 20px;
}

.nav-right,
.nav-left {
    margin: 20px;
    flex-basis: 50%;
}

.nav-right {
    text-align: right;
}

.nav-left {
    text-align: left;
}

.btn {
    padding: 5px 20px;
    border: 1px solid rgb(204, 197, 197);
    color: white;
    background-color: #0060ff;
    text-decoration: none;
    display: inline;
}

/* Header * -JUMBOTORN */

#jumbotron {
    height: 1000px;
    background-color: #175790;
    border: 2px dashed black;
    padding-top: 70px;
}


.column-jumbo {
    display: flex;
    flex-direction: column;
}

.jumbo-title {
    height: 400px;
    width: 100%;
    background-color: rebeccapurple;
    justify-content: center;
    align-items: center;
    display: flex;
}

.jumbo-title h1 {
    font-size: 80px;

}

.jumbo-content {

    background-color: red;
    width: 100%;
    display: flex;
}


.jumbo-content-column {
    width: 33%;
    height: 500px;
    background-color: green;
    display: flex;
    flex-direction: column;
    border: 2px black solid;

}

.jumbo-content-80 {
    flex-basis: 80%;
    flex-direction: column;

    display: flex;

}

.jumbo-content-20 {
    flex-basis: 20%;
}

.jumbo-content-img {
    width: 67%;

    background-color: aqua;
    display: flex;
    border: 2px black solid;

}

.a-arrow-down {
    height: 30px;
    width: 30px;
}

/* Main */


/* BUSINESS PLAN */

h2 {
    margin: 50px 0;
    background-color: yellow;
}


.check-box {
    margin-bottom: 100px;
}

.btn-check-box {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px solid #0060ff;
    color: white;
    background-color: white;
    text-decoration: none;
    display: inline-block;

}

.check-content {
    display: inline
}

/* BUSINESS PLAN -PLAN*/

.plan {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    background-color: aqua;
}

.title-plan {
    flex-basis: 10%;
    background-color: rgb(50, 197, 20);
    border: 1px solid black;
    display: flex;

}

.content-plan {
    flex-basis: 90%;
    background-color: rgb(16, 77, 2);
    border: 1px solid black;
    display: flex;
}

.col-plan {
    border: 1px dashed black;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;

}


.row-plan {
    flex-basis: 50%;
    border: 1px dashed black;
}

/* TEAM*/

.team {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.title-team {
    flex-basis: 10%;
    border: 1px dashed black;
    background-color: yellow;
    display: flex;
}

.content-team {
    flex-basis: 90%;
    border: 1px dashed black;
    background-color: rgb(25, 58, 166);
    display: flex;
}

.b-team {
    flex-basis: 80%;
    border: 1px dashed black;

}

.button-team {
    flex-basis: 20%;
    border: 1px dashed black;

}

/* MAIN- TEAM*/

.partner {
    height: 500px;
    width: 100%;
    background-color: blue;
    display: flex;
}

.partner-left {
    flex-basis: 60%;
    border: 1px dashed black;
}

.partner-right {
    flex-basis: 40%;
    border: 1px dashed black;
}

/* MAIN-CARD */

.card {
    height: 500px;
    width: 100%;
    background-color: aqua;
    display: flex;
}

.col-card {
    flex-basis: 33%;
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
}

.row-card-img {
    flex-basis: 50%;
    border: 1px dashed black;
}

.row-card-title {
    flex-basis: 10%;
    border: 1px dashed black;
}

.row-card-p {
    flex-basis: 40%;
    border: 1px dashed black;
}


/* MAIN - QUADRATI */

#quadrati {
    background-color: gray;
    height: 1000px;
}

.quadrati-boilerplate {
    display: flex;
    height: 1000px;
    width: 100%;
}

.small-division {
    flex-basis: 25%;
    background-color: rgb(214, 133, 11);
    display: flex;
}

.small-col {
    flex-basis: 50%;
    border: 1px dashed black;
}

.big-division {
    flex-basis: 50%;
    background-color: greenyellow;
}

/* MAIN - PROVA */
#prova {
    background-color: orange;
    height: 500px;

}


.prova-flex {
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%;
    align-items: center;
    border: 1px dashed black;
}

/* MAIN - DOMANDE */

.domande-flex {
    display: flex;
    flex-direction: column;

    height: 500px;
    width: 100%;
    border: 1px dashed black;
}

.domande-flex-big {
    flex-basis: 30%;
    background-color: aquamarine;
    border: 1px dashed black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.domande-flex-small {
    flex-basis: 23%;
    background-color: yellow;
    border: 1px dashed black;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Footer */

footer {
    background-color: blueviolet;

}

.menu-footer {
    display: flex;

    border-bottom: 1px solid gray;
}


.menu-col {
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
}