/* Color */

/* 
light-blue #b3cfe7
footer :black
btn:#0060ff
 */

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generic */
body {
    font-family: 'Open Sans', sans-serif;


}

a {
    text-decoration: none;
}

.container-large {
    width: 1200px;
    margin: 0 auto;
    border: 1px dashed black;
    background-color: aquamarine;
}

.container-small {
    max-width: 1080px;
    margin: 0 auto
}

/* Utilities */

/* Header */



#navbar {
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    vertical-align: center;
    line-height: 70px;
    background-color: white;
}

#navbar ul li {
    display: inline;

    font-size: 20px;
}

.nav-right li {
    margin-left: 20px;
}

.nav-left li {
    margin-right: 20px;
}

.nav-right,
.nav-left {
    margin: 20px;
    flex-basis: 50%;
}

.nav-right {
    text-align: right;
}

.nav-left {
    text-align: left;
}

.btn {
    padding: 5px 15px;
    border: 1px solid rgb(204, 197, 197);
    color: white;
    background-color: #0060ff;
    text-decoration: none;
}

/* Header * -JUMBOTORN */

#jumbotron {
    height: 1000px;
    background-color: #175790;
    border: 2px dashed black;
}


.column-jumbo {
    display: flex;
    flex-direction: column;
}

.jumbo-title {
    height: 400px;
    width: 100%;
    background-color: rebeccapurple;
    justify-content: center;
    align-items: center;
    display: flex;
}


.jumbo-content {
    height: 600px;
    background-color: red;
    width: 100%;
    display: flex;
}


.jumbo-content-column {
    width: 40%;
    height: 600px;
    background-color: green;
}

.jumbo-content-img {
    width: 60%;
    height: 600px;
    color: aqua;
}

/* Main */

/* Footer */

footer {
    background-color: blueviolet;

}

.menu-footer {
    display: flex;

    border-bottom: 1px solid gray;
}


.menu-col {
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
}